@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        <table id="results" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Function</th>
                <th>Expected</th>
                <th>Actual</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
